#popUp{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	background: white;
	display: none;
	position: fixed;
	height: 384px;
	width: 408px;
	z-index: 1;
	padding: 12px;
}

#background{
	display: none;
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	z-index: -1;
}

#popClose{
	color:red;
	font-size:50px;
	float:right;
}

